{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>BookStore - Your Literary Haven</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-[#AFDDE5] flex flex-col">
    <!-- Hero Section -->
    <div class="bg-[#003135] text-white py-16 px-4 mb-8 rounded-lg shadow-lg">
        <div class="max-w-4xl mx-auto">
            <h1 class="text-4xl font-bold mb-4">Welcome to KitaKita</h1>
            <p class="text-xl mb-6">Discover your Kita in our curated collection of KitaKitaa.</p>
            <a href="#products" class="bg-[#0FA4AF] hover:bg-[#024950] text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out">
                Ikuyoooooooo Kita
            </a>
        </div>
    </div>

    <!-- Last Login Info -->
    <div class="px-3 mb-4">
        <div class="flex rounded-md items-center bg-[#964734] py-2 px-4 w-fit">
            <h2 class="text-white text-center">Last Login: {{last_login}}</h2>
        </div>
    </div>

    <!-- Add New Product Button -->
    <div class="flex justify-end mb-6">
        <a href="{% url 'bookstore:create_product' %}" class="bg-[#024950] hover:bg-[#003135] text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
            Add New Product
        </a>
    </div>

    <!-- Products Section -->
    <div id="products" class="bg-white p-8 rounded-lg shadow-lg">
        <h2 class="text-3xl font-bold mb-6 text-[#003135]">Our Kita</h2>
        {% if not products %}
        <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
            <img src="{% static 'image/bochi_sad.png' %}" alt="No products" class="w-32 h-32 mb-4"/>
            <p class="text-center text-[#964734] mt-4">No products available in the list yet.</p>
        </div>
        {% else %}
        <div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full">
            {% for product in products %}
            {% include 'card_product.html' with product=product %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

<style>
    body {
        background-color: #AFDDE5;
    }
    .bg-indigo-600 {
        background-color: #024950;
    }
    .bg-indigo-600:hover {
        background-color: #003135;
    }
    .text-gray-600 {
        color: #964734;
    }
</style>
{% endblock content %}